extends /layout.pug
block content
  h1 Nuevo Documento
  form(action='/document', method='post')
    .row.mb-2
      .col
        .form-group
          label(for="documentName") Título
          input(type="text" class="form-control" id="documentName" aria-describedby="titleHelp" placeholder="Título" name='title')
    .row.mb-2
      .col
        .form-group
          label(for="documentDescription") Descripción
          textarea(class="form-control" id="documentDescription" aria-describedby="descriptionHelp" placeholder="Descripción" name='description')
          small(id="descriptionHelp" class="form-text text-muted") Descripción o Abstract del artículo.
    .row.mb-2
      .col
        .form-group
          label(for="documentDescription") Año
          select(class="form-control" id="documentYear" aria-describedby="yearHelp" placeholder="Año" name='year')
            each year in years
              option(value=year) #{year}
          small(id="descriptionHelp" class="form-text text-muted") Año de publicación del artículo.  
      .col
        .form-group
          label(for="documentLanguage") Idioma
          select.form-control#documentLanguage(aria-describedby="languageHelp" placeholder="Idioma" name='language')
            option(value='ES') Español
            option(value='EN') Ingles
          small#languageHelp.form-text-text-muted Idioma en que está escrito el árticulo  
    .row#try
      .col
        .form-group
          label(for="documentCategories") Categoría
          select#documentCategories.custome-select( multiple="multiple", style="width: 100%" name='categories')
            each category in categories
              option(value=category.id) #{category.name}
          small#languageHelp.form-text-text-muted ¿Falta una categoría? #[a(href='#') crea una nueva]
      .col
        .form-group
          label(for="documentKeywords") Palabras clave
          select#documentKeywords.custome-select( multiple="multiple", style="width: 100%" name='keywords')
            each keyword in keywords
              option(value=keyword.keyword) #{keyword.keyword}
      .col
        .form-group
          label(for="documentAuthors") Autores
          select#documentAuthors.custome-select( multiple="multiple", style="width: 100%" name='authors')
            each author in authors
              option(value=author.name) #{author.name}
    .row
      .col
        .form-group
          button(type='submit').btn.btn-primary.mr-2 Crear Documento  
          button(type='button').btn.btn-danger.btn-sm Cancelar     
block append scripts
  script.
    $(function(){
      $('#documentCategories').select2({
        theme: 'bootstrap',
      });

      $('#documentKeywords').select2(select2tagOptions);

      $('#documentAuthors').select2(select2tagOptions)

      $('#documentKeywords').on('change',select2TagOnChange('#documentKeywords','/keyword','keyword'));

       $('#documentAuthors').on('change',select2TagOnChange('#documentAuthors','/author','name'));

      $('#documentCategories').select2('data');
    });

    var select2tagOptions={
        theme: "bootstrap",
        tags:true,
         createTag: function (params) {
          return {
            id: params.term,
            text: params.term,
            newOption: true
          }
        },
         templateResult: function (data) {
         if(data.text.trim()=='') return;
          var $result = $("<span></span>");

          $result.text(data.text);

          if (data.newOption) {
            $result.append(" <em>(nuevo)</em>");
          }

          return $result;
        }
      };

      var select2TagOnChange = function(id,url,attr){
        return function(e){
            _.each($(id).select2('data'),function(data){
              if(data.newOption){
                var jsonData={};
                jsonData[attr] = data.text;
                $.ajax({
                type: "POST",
                url: url,
                data: jsonData,
                success: function(s){console.log(s); data.newOption=false},
                dataType: 'json'
              });
              }
            });
          }
      }

